{% extends 'base.html' %}

{% block head %}
<title>Sign Up!</title>
{% endblock %}

{% block body_class %}centered-body{% endblock %}

{% block body %}
<div class="entrycontainer">
<div class="entrybox">
<h1>Sign Up Below!</h1>

{% if error %}
    <div style="color: red; margin-bottom: 10px;">{{ error }}</div>
{% endif %}


<form method="POST">
    <input type="text" name="username" placeholder="Enter a Username" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <br>
    <input class='button1' type="submit" value="Sign Up">
</form>
<br>
<a href="{{ url_for('dashboard') }}"><button class='button1'>Back</button></a>
</div>
</div>

{% endblock %}